:root {
  --primary: #12372a;
  --bg: #fbfada;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Lexend Zetta", sans-serif;
  background-color: var(--bg);
  color: var(--primary);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 4%;
  position: fixed;
  background-color: var(--primary); /* fix transparansi */
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* sedikit bayangan */
  transition: top 0.3s;
}
.navbar-menu {
  display: flex;

}

#chart,
#edit,
#archive,
#logout {
  display: flex;
}

.navbar-menu .navbar-extra {
  position: absolute;
  display: inline;
  top:100%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.600);
  width: 30rem;
  height: 100dvh;
}

.navbar-menu .navbar-extra a {
  margin: 2rem 2rem;
  color: var(--bg);
  font-size: 1rem;
}

/* Bagian ikon */
.navbar-menu .feather {
  margin: 0 0.5rem;
  color: var(--bg);
  font-size: 1.4rem;
}

.navbar-menu .feather:hover,
.navbar-menu .navbar-extra a:hover {
  color: #4a7760; 
}

.navbar-user h6 {
  font-family: "Lexend Zetta", sans-serif;
  color: var(--bg);
  font-size: 1.2rem;
  margin-right: 2rem;
}

.user-image img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary);
}